{% extends "layout.html" %}

{% block content %}
<h1>Recuperar Contraseña</h1>




<form action="/recuperar_contraseña" method="POST">
    
  
    <div class="container">
      <label for="Username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>
  
     
  
      <button type="submit">Recuperar Contraseña</button>
 
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      
     
    </div>
  </form>

  {% if ingreso_incorrecto %}
  <div class="alert alert-danger" role="alert">
    Datos ingresados erroneamente ¡intentalo de nuevo!
  </div>
        {% endif %}

{% if resulta %}
        <h1>Tu contraseña es: " {{ resulta }} " </h1>
{% endif %}

{% if resultado %}
{% for r in resultado %}
        <h1>{{ r.email  }}</h1>
    {% endfor %}
{% endif %}


{% endblock%}